<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/sweetalert.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>

	<!--FontAwesome Icon-->
	<script th:src="@{/js/all.min.js}"></script>


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/bootstrap.min.css}" />
	<!--OWL Carousel CSS-->
	<link rel="stylesheet" href="" th:href="@{/css/owl.carousel.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/owl.theme.green.css}" />

	<!--FontAwesome Icon-->
	<link rel="stylesheet" href="" th:href="@{/css/all.min.css}" />

	<!--Ubutu fonts-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="" th:href="@{/css/stylechat.css}"/>
    <link rel="stylesheet" href="" th:href="@{/css/homechat.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title th:text="${title}">Base Html</title>
</head>

<body>

	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark custom-bg container-fluid navbar-toggler sticky-top">
		<div class="container-fluid">
			
			<img class="logo" th:src="@{/images/Unilogo (1).jpg}" alt="logo" /> 
			<a class="navbar-brand pl-5" th:href="@{/}">UMS</a>
		
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/login}">Admission</a>
					</li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/login}">Examination</a>
					</li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/login}">Library</a>
					</li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/login}">Accounting</a>
					</li>
					<li class="nav-item text-white mt-1">|
					</li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/login}">Student</a>
					</li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
					</li>
					<li class="nav-item"><a class="nav-link active" aria-current="page"
							th:href="@{/signup/}">Register</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- End of navbar -->




	<div th:replace=${content}></div>

	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- chatbot js -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/js/responses.js}"></script>
<script th:src="@{/js/chat.js}"></script>

</body>

</html>